@import url('https://fonts.googleapis.com/css?family=Muli:500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.form {
    width: 100%;
    height: 250px;
    position: fixed;

    top: 50%;
    margin-top: -100px;



}

.container {
    width: 100%;
    margin: auto;

}

.container h1,
h2,
a {
    margin: auto;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #003366;
    font-size: 25px;
    text-decoration: none;

}

a:hover {
    color: purple;
    animation: ease-in;

}